<html>
	<body>
		<h1>About This Software</h1>
		<p>This program is a small and simple Mandelbrot Set viewer. It is my first go at a desktop app built in java. I hope you enjoy it! If you want to check out the github repo this is the link : https://github.com/bilboBalla/mandelbrot_set_in_java.</p>
		
		<h2>How To Use This Software</h2>
		<h3>Area In View</h3>
		<p>The area in view field simply tells you the surface area of the section of the complex plane being shown. It is equal to the real width of the image multiplied by the imaginary height of the image.</p>

		<h3>Z Real & Z Imag</h3>
		<p>These fields are the Z values in the recursive equation that computes the Mandelbrot Set. Z = Z^2 + C. Normally the value of Z would be set to Z = 0i + 0r, but if you tweek those values you could get some interesting results.</p>

		<h3>Mag. Cap (Magnitude Cap)</h3>
		<p>When determining if a number is in the mandelbrot set, if the magnitude of Z exceeds the Magnitude Cap field, the point being tested is considered not to be in the set.</p>

		<h3>Itr. Cap (Iteration Cap)</h3>
		<p>When determining if a number is in the mandelbrot set, the value Z from Z = Z^2 + C is computed many times. The number of times Z is computed is determined by the value in Itr. Cap. Changing the iteration cap affects the fidelity or accuraccy of the image.</p>

	</body>
</html>
